div.Header.ui-header.ui-bar-cbsapp
{
	color:#FFF;
}

.infobox
{
	background:#FFFFFF;
}

.infobox p
{
	text-align:center;
	padding:2em 2em;
	font-size:1em;
	font-family: 'source_sans_prolight';
	line-height:1.3;
}

.Multi-login
{
	border:1px solid #cfcfcf;
	margin:1em 0;
	background:#FFFFFF;
	 
}

.Multi-login a
{
	padding:2em 0;
	display:block;
	padding-left:1em;
	text-decoration:none;
	font-size:1em;
	font-family: 'source_sans_prolight';
	color:#535353;
	border-bottom:1px solid #cfcfcf;
		
}

.Multi-login a:hover
{
	background:#3dbfd9;
	color:#FFF;
}

.MContainer
{
	background:#FFF;
	padding:1em;
}